.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99; 
  
}

.student-form,
.mentor-form {
  margin: 10px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-style: none;
  position: relative;
  z-index: 1;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0);}


 .form-input {
  margin-bottom: 30px;
  display: block;
  padding: 20px;
  width: 30em;
  border-radius: 8px;
  border-style: none;
  border-color: rgb(211, 30, 30);
  background-color: rgb(244, 240, 234);
} 
i{
position: absolute;
right: 0;
top: 0;
padding: 10px;
font-size: 30px;
cursor: pointer;
color: rgb(109, 109, 111);
}

.form-button {
  background-color: rgb(69, 69, 227);
  color: white;
  cursor: pointer;
position: relative;
left: 120px;
width: 200px;
height: 55px;
}

.userDetails{
  display: flex;
 flex-wrap: wrap;
}

